.video-shariff-preview-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #eee; /* ie fallback */
  background: rgba(238, 238, 238, 0.8);
  border-radius: 0.375rem;
  width: 4rem;
  height: 2.9rem;
  margin: -1.45rem -2rem;
  color: #d68605;
  text-align: center;
}
